<dnd-wrapper [type]="'drop'" [typesSenders]="['rightItem']" [onDrop]="onDropLeft" class="container">
    <dnd-wrapper
    *ngFor="let item of leftBlockItems"
    [type]="'drag'"
    [typeRecipient]="'leftItem'"
    [ghostComponentInputs]="getGhostComponentInputs(item)"
    [ghostComponent]="getGhostComponent()"
    [data]="item">
      <example-dnd-child [data]="item"></example-dnd-child>
    </dnd-wrapper>
</dnd-wrapper>
<dnd-wrapper [type]="'drop'" [typesSenders]="['leftItem']" [onDrop]="onDropRight" class="container">
    <dnd-wrapper
    *ngFor="let item of rightBlockItems"
    [type]="'drag'"
    [typeRecipient]="'rightItem'"
    [ghostComponentInputs]="getGhostComponentInputs(item)"
    [ghostComponent]="getGhostComponent()"
    [data]="item">
      <example-dnd-child [data]="item"></example-dnd-child>
    </dnd-wrapper>
</dnd-wrapper>

<dnd-wrapper [type]="'files'" [onDrop]="onDropFiles" class="container uploader">
  Choose a files or drag here
  <div class="count-files">Uploaded: {{uploadedFiles.length}}</div>
  <div class="upload-files" (click)="uploadFromComputer()">
    <input (change)="onSelectFilesFromComputer($event)" #fileInput type="file" multiple [ngStyle]="{display: 'none'}">
  </div>
</dnd-wrapper>
