<movable-wrapper-example *ngIf="typeExample === 'Movable'"></movable-wrapper-example>
<resizable-wrapper-example *ngIf="typeExample === 'Resizable'"></resizable-wrapper-example>
<dnd-wrapper-example *ngIf="typeExample === 'DragAndDrop'"></dnd-wrapper-example>
<panel-of-variants [label]="'Wrappers:'" [position]="{bottom: 10, left: 10}" [onSelect]="onExampleSelect" [variants]="examples" [selectedVariant]="typeExample"></panel-of-variants>
<a routerLink="/home" class="logo-container"><img class="logo" draggable="false" src="assets/logo.png"></a>
