:host {
  user-select: text;
}
.menu-item {
  color: #1e4d79;
}
.instalation {
  border: 1px solid rgb(100, 98, 98);
  background: #333;
  display: inline-block;
  color: rgb(194, 194, 194);
  padding: 20px;
  user-select: all;
}
